.produits-page-container {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 100vh;
  margin-top: 80px;
  margin-bottom: 100px;
  }


  
  .main-content {
    background-color: #fff; /* Example background color */
    padding: 20px;
  }

  @media (max-width: 768px) {
    .produits-page-container {
      grid-template-columns: 1fr; /* Stack the columns on smaller screens */
    }
  
    .sidenav {
      margin-bottom: 20px;
    }

    .productCard {
      grid-template-columns: 1fr;
    }
  }

   .sidenav {
    width: 300px;
    display: flex;
    color: rgb(0, 0, 0);
    background-color: #ffffff;  
  }
  
  .sidenav ul {
    list-style: none;
  padding: 0;
  margin: 0;
    
  }
  
  .sidenav li {
    display: block;
  width: 300px;
  padding: 10px; /* Adjust padding as needed */
  text-decoration: none;
  }

  .sidenav li:hover{
    background-color: #3b760a; /* Customize hover effect as needed */
    color: #fff;

  }
  .active{
    color:#fff;
    background-color: #3b760a;
  }
  .e{
    width: 200px;
    margin-top: 20px;
  }

  .productCard {
    display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
  gap: 20px; /* Adjust the gap between items */
  }


.card-item {
  display: block;
  align-items: center;
  text-align: center;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.CategoryFont{
  color: #3b760a;
  margin-left: 8px;
  font-size: 24px;
}

@media (max-width: 768px) {
  .produits-page-container {
    grid-template-columns: 1fr; /* Stack the columns on smaller screens */
  }

  .sidenav {
    margin-bottom: 20px;
  }

  .productCard {
    grid-template-columns: 1fr; /* Stack products in a single column */
  }
}

  
/* ProduitsPage.css */

/* Styles for the modal */
.modalProd {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  max-width: 80%;
  width: 600px; /* Adjust width as needed */
  max-height: 80%;
  overflow-y: auto;
}

/* Styles for the overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  z-index: 1000; /* Ensure it overlays everything else */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal content styles */
.modal-contentProd {
  text-align: center;
}

.modal-contentProd img {
  max-width: 50%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.modal-contentProd h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.modal-contentProd p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

.close-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 20px;
}

.close-button:hover {
  background-color: #555;
}
