/* .sidenav {
    width: 300px;
    background-color: #186201;
    padding: 15px;
    position: fixed;
    height: 100%;
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidenav li {
    margin: 10px 0;
  }
  
  .sidenav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    padding: 10px;
  }
  
  .sidenav a:hover {
    background-color: #e0e0e0;
  }
   */